@import 'import.scss';
//=============header============
@import '_header.scss';
//=============header============

//========main===========
body{
  display: flex;
  flex-direction: column;
}

main{
  flex: 1 1 auto;
}

.articles {
  margin: 0 10px 60px;
}
.container {
}
.articles__header{
  margin: 40px 0 40px;
  text-align: center;
  font-size: 46px;
  padding-bottom: 30px;
  background-image: url(//cdn.shopify.com/s/files/1/0056/7679/3890/t/15/assets/dotted-line.png?v=2618969…);
  background-size: 150px 5px;
  background-position: 50.5% bottom;
  background-repeat: no-repeat;
}

.articles__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.articles__item {
  display: flex;
  gap: 20px;
  height: 300px;
  overflow: hidden;
  border: 1px solid #eaeaea;
  background-color: #fff;
  border-radius: 6px;
}
.article__image {
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.article__image img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.article__content {
  display: flex;
  flex-direction: column;
  padding: 20px;
    font-family: 'Lora';
}
.article__author {
  display: flex;
  align-items: center;

  gap: 10px;
}
.article__author-image img {
  border-radius: 50%;
  height: 40px;
}
.article__author-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.article__author-name {
  font-size: 16px;
  font-weight: 700;
}
.article__date {
  display: flex;
  gap: 20px;
}
.article__date-published {
  font-size: 14px;
}
.article__time-from-published {
  font-size: 14px;
}
.article__description {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.article__description-header {
  font-size: 34px;
  font-weight: 700;
}
.article__description-content {
  font-size: 20px;
}
.article__stats {
  display: flex;
  width: 100%;
  gap: 20px;
  font-size: 14px;
}
.article__stats-views {
  font-size: 14px;
}
.article__coment-link{
  text-decoration: none;
  color: #000;
}
.article__coment-link:hover{
  color: #2b36af;
}
.article__stats-comments {
  font-size: 14px;
}
.article__stats-like-field {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.article__like-button{
  background:none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.article__like-button:hover{
  opacity: .3;
}
.article__stats-like-field img {
  height: 30px;
}
.article__stats-likes {
  font-size: 16px;
}

//========main end========
//========footer==========
@import '_footer.scss';
//========footer end======
