@import url("import.scss");
@import 'import.scss';
//=============header============
@import '_header.scss';
//=============header============

//========main===========
body{
  display: flex;
  flex-direction: column;
}

main{
  flex: 1 1 auto;
}

.user-information {
  display: flex;
  flex-direction: column;
}
.user-information__name {
  font-size: 50px
}
.user-information__email {
  font-size: 30px
}
.user-information__created-at {
  font-size: 30px
}
//========main end========

//=========footer==============
@import '_footer.scss';
//=========footer end =========
