<div class="header-inner">
  <div class="container">
    <div class="header__menu">
      <div class="logo-wrapper">
        <a class="menu__logo" href="">LOGO</a>
      </div>
      <nav class="menu__nav">
        <ul class="menu__items">
          <li class="menu__item">
            <a class="menu__link" href="/front/">Головна</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/front/articles/">Статті</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/front/portfolio/">Роботи</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/front/about/">Про автора</a>
          </li>
        </ul>
      </nav>
      <div class="vertical-line"></div>
      <div class="menu__socials">
        <ul class="social__items">
          <li class="social__item">
            <a class="social-link" href="#">
              <img class="social__image" src="dest/images/facebook-light.png" alt="social">
            </a>
          </li>
          <li class="social__item">
            <a class="social-link" href="#">
              <img class="social__image" src="dest/images/insta-light.png" alt="social">
            </a>
          </li>
          <li class="social__item">
            <a class="social-link" href="#">
              <img class="social__image" src="dest/images/twitter-light.png" alt="social">
            </a>
          </li>
        </ul>
      </div>
      <div class="vertical-line"></div>
      <div class="menu__search-bar">
        <form action="POST" class="menu__search-form">
          <input class="menu__search-input" type="search" required>
          <input class="menu__search-submit" type="submit" value=" ">
        </form>
      </div>
      <div class="vertical-line"></div>
      <a class="menu__login-button menu__link" id="login" href="login"></a>
    </div>
  </div>
</div>
<div class="header__outer">
  <div class="container">
    <div class="header__content">
      <div class="content__theme theme">
        <p class="theme__name">adventure</p>
        <p class="theme__name">Lorem, ipsum.</p>
        <p class="theme__name">adventure</p>
      </div>
      <h1 class="content__header text-header">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
      <p class="content__description">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, maiores repudiandae id rerum doloremque
        earum nihil libero molestias vel expedita veniam incidunt, praesentium odit ipsum. In recusandae
        repellendus numquam iure pariatur animi ipsum inventore blanditiis, consectetur perferendis soluta
        facere
        nostrum.
      </p>
      <p class="content__date">08.08.2021</p>
    </div>
  </div>
</div>
